* {
    font-family: "Iosevka", "Symbols Nerd Font Mono";
    min-height: 15px;
}

window#waybar {
    background: transparent;
}

#custom-logo {
    font-size: 23px;
    margin-left: 5px;
    padding: 7px 12px;
    color: #f4dbd6;
    background-color: #1e1e2e;
    border-radius: 10px;
}

#clock {
    font-size: 18px;
    margin-right: 5px;
    padding: 7px 12px;
    color: #11111b;
    background-color: #c6a0f6;
    border-radius: 10px;
}
